/* #album{
    display: flex;
    flex-wrap: wrap;
} */

/* .movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    align-content: space-between;
} */
.content {
    background-color: #0b486b;
    padding-top: 80px;
    padding-bottom: 30px;
}

.navbar {
    background-color: orange;
}

.pagination{
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: orange;
}

.page{
    padding:20px;
    cursor:pointer;
    font-weight: bold;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid #0b486b;
    font-size: 20px;
    font-weight: 600;
}

.title {
    font-family: calibri;
    font-weight: bold;
    /* text-align: center; */
    font-size: 17px;
}

.card {
    min-height: 470px;
}

.card-img-top {
    max-height: 310px;
}

.small{
    color:var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

